name: Borsa Botu

on:
  schedule:
    - cron: '*/15 * * * *' # Her 15 dakikada bir çalış
  workflow_dispatch: # Elle tetiklemek için

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Depoyu Çek
        uses: actions/checkout@v3

      - name: Python Kurulumu (3.11)
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Kütüphaneleri Yükle
        run: |
          pip install -r requirements.txt

      - name: Firebase Anahtarını Oluştur
        env:
          FIREBASE_KEY: ${{ secrets.FIREBASE_CREDENTIALS }}
        run: |
          if [ -z "$FIREBASE_KEY" ]; then
            echo "::error::HATA: FIREBASE_KEY bulunamadı! Secret ayarlarını kontrol et."
            exit 1
          fi
          echo "$FIREBASE_KEY" > firebase_key.json

      - name: Botu Çalıştır
        env:
          CMC_API_KEY: ${{ secrets.CMC_API_KEY }} # Varsa CoinMarketCap anahtarın
        run: python bot.py
