name: Fonları Firebase'e Yükle

on:
  schedule:
    - cron: '0 6 * * *' # Her gün sabah 09:00
  workflow_dispatch:

jobs:
  scrape_and_upload:
    runs-on: ubuntu-latest

    steps:
      - name: Repoyu Çek
        uses: actions/checkout@v4

      - name: Python Kurulumu (3.11 Güncel Sürüm)
        uses: actions/setup-python@v4
        with:
          python-version: '3.11' 

      - name: Kütüphaneleri Yükle
        run: pip install -r requirements.txt

      - name: Scripti Çalıştır
        env:
          # Secret'ı burada ortam değişkeni olarak veriyoruz
          FIREBASE_CREDENTIALS: ${{ secrets.FIREBASE_CREDENTIALS }}
        run: python main.py
