name: Fonları Firebase'e Yükle

on:
  schedule:
    # UTC 08:00 = Türkiye Saati ile 11:00
    - cron: '0 8 * * *'
  workflow_dispatch: # Manuel çalıştırma butonu kalsın

jobs:
  scrape_and_upload:
    runs-on: ubuntu-latest

    steps:
      - name: Repoyu Çek
        uses: actions/checkout@v4

      - name: Python Kurulumu
        uses: actions/setup-python@v4
        with:
          python-version: '3.11' 

      - name: Kütüphaneleri Yükle
        run: pip install -r requirements.txt

      - name: Scripti Çalıştır
        env:
          FIREBASE_CREDENTIALS: ${{ secrets.FIREBASE_CREDENTIALS }}
        run: python main.py
