name: Fon Veri Botu (Is Yatirim)

on:
  schedule:
    - cron: '0 18 * * 1-5'
  workflow_dispatch:

jobs:
  run-fund-bot:
    runs-on: ubuntu-latest

    steps:
    - name: Repo'yu Çek
      uses: actions/checkout@v3

    - name: Python Kurulumu
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Kütüphaneleri Yükle
      # Sadece temel kütüphaneler yeterli
      run: |
        pip install requests pandas firebase-admin

    - name: Scripti Çalıştır
      env:
        FIREBASE_CREDENTIALS: ${{ secrets.FIREBASE_CREDENTIALS }}
      run: python main.py
